.globalstyle
{
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1
{
    color:white;
    background-color: #282828;
    text-align: center;
    border: 1px solid #282828;
    padding: 5px;
}

a
{
    color: crimson;
    font-weight: bold;
}

.column1 {
    float: left;
    width: 20%;
    border: 1px solid white ;
    padding-left: 20px;
}
  
.column2 {
    float: left;
    width: 45%;
}

.column3 {
    float: left;
    width: 30%;
    padding-left: 20px;
}

  /* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}